
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.reference-image-R9P {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #202124;
}
.reference-image-R9P .auto-group-jtfb-hMo {
  width: 100%;
  height: 632.7247rem;
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-jgsf-xBF {
  width: 153.3885rem;
  height: 3.8rem;
  position: absolute;
  left: 19.9874rem;
  top: 6.4429rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-jgsf-xBF .logo-rGd {
  margin-right: 82.5567rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-jgsf-xBF .home-8E9 {
  margin-right: 9.4106rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-jgsf-xBF .about-E2H {
  margin-right: 9.4106rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-jgsf-xBF .services-NPP {
  margin-right: 9.4106rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-jgsf-xBF .contact-ueD {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed {
  width: 150.1837rem;
  height: 60.1849rem;
  position: absolute;
  left: 21.1374rem;
  top: 27.9887rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-4syf-N21 {
  margin: 24.071rem 15.763rem 19.833rem 0rem;
  width: 3.8rem;
  height: calc(100% - 43.9039rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-4syf-N21 .vector-FrV {
  margin-bottom: 3.2585rem;
  width: 3.8rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-4syf-N21 .vector-o7K {
  margin: 0rem 0rem 2.523rem 0rem;
  width: 2.5999rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-4syf-N21 .vector-KbT {
  margin: 0rem 0rem 2.6rem 0rem;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-4syf-N21 .line-2-Q77 {
  margin: 0rem 1.9rem 0rem 1.9rem;
  width: calc(100% - 3.8rem);
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw {
  margin: 16.611rem 18.328rem 14.787rem 0rem;
  width: 55.3rem;
  height: calc(100% - 31.3979rem);
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw .auto-group-yr4u-1ch {
  margin-bottom: 4.2349rem;
  width: 100%;
  height: 18.7421rem;
  position: relative;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw .auto-group-yr4u-1ch .hello-i-am-LQ5 {
  width: 16.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0.3952rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw .auto-group-yr4u-1ch .lorem-ipsum-sit-dolor-amet-A1j {
  width: 33.9rem;
  height: 3.6rem;
  position: absolute;
  left: 0.3952rem;
  top: 15.1421rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw .auto-group-yr4u-1ch .person-abc-cPX {
  width: 55.3rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 2.7477rem;
  font-size: 8.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw .auto-group-lyqr-L4d {
  margin: 0rem 9.214rem 0rem 0.395rem;
  width: calc(100% - 9.6087rem);
  height: 5.8102rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw .auto-group-lyqr-L4d .auto-group-rkuh-3Uq {
  margin-right: 1.4541rem;
  width: 22.1186rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #202124;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa488;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .auto-group-wxer-5yw .auto-group-lyqr-L4d .auto-group-zhad-XQ1 {
  width: 22.1186rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #ffa588;
  box-sizing: border-box;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nnyu-3Ed .hacker-bro-1-cAZ {
  width: 56.9935rem;
  height: 60.1849rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj {
  width: 164.4314rem;
  height: 78.3809rem;
  position: absolute;
  left: 13.7843rem;
  top: 119.2673rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .group-1-SfP {
  margin-right: 12.1082rem;
  width: 63.2232rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .group-1-SfP .ellipse-1-MXT {
  width: 11.7691rem;
  height: 11.5368rem;
  position: absolute;
  left: 51.4541rem;
  top: 66.8441rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .group-1-SfP .ellipse-3-Ury {
  width: 11.7691rem;
  height: 11.5368rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .group-1-SfP .ellipse-2-2db {
  width: 5.974rem;
  height: 5.8561rem;
  position: absolute;
  left: 55.5321rem;
  top: 64.5646rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .group-1-SfP .ellipse-4-yHw {
  width: 5.974rem;
  height: 5.8561rem;
  position: absolute;
  left: 8.7821rem;
  top: 1.7006rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .group-1-SfP .mask-group-hjj {
  width: 52.7078rem;
  height: 69.1375rem;
  position: absolute;
  left: 5.8113rem;
  top: 4.6286rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX {
  margin: 4.629rem 0rem 5.768rem 0rem;
  height: calc(100% - 10.397rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .about-me-ANR {
  margin-bottom: 4.0185rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-WBP {
  margin-bottom: 4.4878rem;
  max-width: 89.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-JN9 {
  margin-bottom: 6.0841rem;
  max-width: 89.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .follow-my-work-on-aKf {
  margin-bottom: 3.9934rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .auto-group-zfiv-usj {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .auto-group-zfiv-usj .vector-4Eq {
  margin-right: 7.4573rem;
  width: 3.8rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .auto-group-zfiv-usj .vector-bkZ {
  margin: 0rem 7.457rem 0rem 0rem;
  width: 2.5999rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-nbq1-wTj .auto-group-3ytm-SBX .auto-group-zfiv-usj .vector-KwT {
  margin-bottom: 0rem;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .services-i-offer-Fq7 {
  width: 47.4rem;
  height: 8.4rem;
  position: absolute;
  left: 72.2234rem;
  top: 218.1404rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK {
  width: 152.8156rem;
  height: 46.695rem;
  position: absolute;
  left: 19.5922rem;
  top: 239.6646rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-ok1b-653 {
  margin: 2.224rem 5.175rem 2.224rem 0rem;
  width: 45.7798rem;
  height: calc(100% - 4.4475rem);
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-ok1b-653 .graphic-designing-B6V {
  width: 30.2rem;
  height: 4.8rem;
  position: absolute;
  left: 7.7899rem;
  top: 21.4211rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-ok1b-653 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-6DT {
  width: 34rem;
  height: 7.2rem;
  position: absolute;
  left: 5.8899rem;
  top: 29.6179rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-ok1b-653 .rectangle-8-mKb {
  width: 45.7798rem;
  height: 42.2474rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.4rem #ffa488;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-ok1b-653 .vector-dMo {
  width: 9.6203rem;
  height: 9.6201rem;
  position: absolute;
  left: 18.0798rem;
  top: 7.007rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-xs5o-mD7 {
  margin-right: 5.4817rem;
  width: 50.5992rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-xs5o-mD7 .web-development-uaD {
  width: 30.2rem;
  height: 4.8rem;
  position: absolute;
  left: 10.2843rem;
  top: 23.6762rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-xs5o-mD7 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-cDj {
  width: 34rem;
  height: 7.2rem;
  position: absolute;
  left: 8.3843rem;
  top: 32.7359rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-xs5o-mD7 .rectangle-9-4rR {
  width: 50.5992rem;
  height: 46.695rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.4rem #ffa488;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-xs5o-mD7 .vector-Mad {
  width: 9.6935rem;
  height: 9.6931rem;
  position: absolute;
  left: 20.4394rem;
  top: 8.2145rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-enyt-JEy {
  margin: 2.224rem 0rem 2.224rem 0rem;
  width: 45.7798rem;
  height: calc(100% - 4.4475rem);
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-enyt-JEy .social-media-marketing-Q37 {
  width: 38.1rem;
  height: 4.8rem;
  position: absolute;
  left: 4.0431rem;
  top: 21.4211rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-enyt-JEy .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-gmK {
  width: 34rem;
  height: 7.2rem;
  position: absolute;
  left: 6.0431rem;
  top: 29.6179rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-enyt-JEy .rectangle-10-Bi5 {
  width: 45.7798rem;
  height: 42.2474rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.4rem #ffa488;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-tb4z-yFK .auto-group-enyt-JEy .vector-pW9 {
  width: 8.7343rem;
  height: 8.7324rem;
  position: absolute;
  left: 18.1856rem;
  top: 7.9427rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .my-projects-Yww {
  width: 38.5rem;
  height: 8.4rem;
  position: absolute;
  left: 76.75rem;
  top: 304.0035rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .what-my-clients-say-Gd3 {
  width: 65.7rem;
  height: 8.4rem;
  position: absolute;
  left: 63.1378rem;
  top: 437.2869rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .get-in-touch-zJ9 {
  width: 38.7rem;
  height: 8.4rem;
  position: absolute;
  left: 76.6rem;
  top: 520.5177rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR {
  width: 152.8156rem;
  height: 31.602rem;
  position: absolute;
  left: 19.5801rem;
  top: 459.5331rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .vector-eNh {
  margin: 0rem 22.926rem 3.47rem 0rem;
  width: 6.0139rem;
  height: 3.5295rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .mask-group-yfs {
  margin-right: 9.1289rem;
  width: 28.012rem;
  height: 31.602rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .auto-group-7wyk-7XB {
  margin: 2.701rem 15.421rem 1.827rem 0rem;
  width: 65.3rem;
  height: calc(100% - 4.5285rem);
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .auto-group-7wyk-7XB .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-DKK {
  margin-bottom: 3.0735rem;
  max-width: 65.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .auto-group-7wyk-7XB .auto-group-54jw-r7P {
  margin-right: 21.9891rem;
  width: calc(100% - 21.9891rem);
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .auto-group-7wyk-7XB .auto-group-54jw-r7P .rectangle-21-b4y {
  margin: 0rem 3.638rem 0rem 0rem;
  width: 24.073rem;
  height: 0.5276rem;
  background-color: #ffa488;
  border-radius: 0.2638rem;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .auto-group-7wyk-7XB .auto-group-54jw-r7P .person-a-JVB {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-bgzb-KLR .vector-Etd {
  margin-top: 0.0589rem;
  width: 6.0139rem;
  height: 3.5295rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb {
  width: 112.6471rem;
  height: 11.0539rem;
  position: absolute;
  left: 33.8764rem;
  top: 544.9062rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-bue5-hnD {
  box-sizing: border-box;
  padding-right: 8.696rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-bue5-hnD .auto-group-ybth-Szh {
  margin: 0rem 6.208rem 1.327rem 0rem;
  width: 71.5434rem;
  height: 9.7274rem;
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-bue5-hnD .auto-group-ybth-Szh .name-BBb {
  width: 9.7rem;
  height: 4.8rem;
  position: absolute;
  left: 6.5757rem;
  top: 2.4637rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-bue5-hnD .auto-group-ybth-Szh .rectangle-24-EQm {
  width: 71.5434rem;
  height: 9.7274rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #ffa488;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-bue5-hnD .line-3-9nd {
  margin-bottom: 3.751rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #ffa488;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-zmgy-h3T {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-zmgy-h3T .phone-Fam {
  margin-bottom: 1.4539rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-rw33-ahb .auto-group-zmgy-h3T .item-91-98876-52232-Pgy {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-gz9j-iDT {
  width: 124.2471rem;
  height: 11.0539rem;
  position: absolute;
  left: 33.8764rem;
  top: 561.4592rem;
  display: flex;
  align-items: flex-start;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-gz9j-iDT .auto-group-6sjk-qos {
  margin: 0.307rem 14.904rem 0rem 0rem;
  width: 71.5434rem;
  height: 9.7274rem;
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-gz9j-iDT .auto-group-6sjk-qos .email-ALM {
  width: 8.7rem;
  height: 4.8rem;
  position: absolute;
  left: 6.5757rem;
  top: 2.4637rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-gz9j-iDT .auto-group-6sjk-qos .rectangle-25-5iD {
  width: 71.5434rem;
  height: 9.7274rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #ffa488;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-gz9j-iDT .auto-group-pput-MQq {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-gz9j-iDT .auto-group-pput-MQq .email-uhF {
  margin-bottom: 1.4539rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-gz9j-iDT .auto-group-pput-MQq .abcpersongmailcom-EzR {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-wvhb-aYV {
  width: 113.2471rem;
  height: 16.3228rem;
  position: absolute;
  left: 33.8764rem;
  top: 578.0122rem;
  display: flex;
  align-items: flex-end;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-wvhb-aYV .auto-group-dr8z-JjP {
  margin-right: 14.9037rem;
  width: 71.5434rem;
  height: 15.7094rem;
  position: relative;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-wvhb-aYV .auto-group-dr8z-JjP .message-3ws {
  width: 14.4rem;
  height: 4.8rem;
  position: absolute;
  left: 6.5757rem;
  top: 2.4637rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-wvhb-aYV .auto-group-dr8z-JjP .rectangle-26-MxZ {
  width: 71.5434rem;
  height: 15.7094rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #ffa488;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-wvhb-aYV .auto-group-tbdx-hFj {
  margin-bottom: 0.4689rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-wvhb-aYV .auto-group-tbdx-hFj .address-qsj {
  margin-bottom: 1.4539rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-wvhb-aYV .auto-group-tbdx-hFj .h-213-abc-street-delhi-india-yj3 {
  max-width: 26.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb {
  width: 109.7189rem;
  height: 10.5152rem;
  position: absolute;
  left: 33.8764rem;
  top: 598.3461rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb .auto-group-wyjv-tjX {
  margin: 1.845rem 14.904rem 0.746rem 0rem;
  width: 71.5434rem;
  height: calc(100% - 2.5909rem);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #202124;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa488;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb .auto-group-kxau-vRK {
  width: 23.2718rem;
  height: 100%;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb .auto-group-kxau-vRK .social-media-KTT {
  margin-bottom: 2.3121rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffa488;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb .auto-group-kxau-vRK .auto-group-wfx1-Doj {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb .auto-group-kxau-vRK .auto-group-wfx1-Doj .vector-YLD {
  margin: 0.155rem 6.128rem 0rem 0rem;
  width: 4.5201rem;
  height: 3.0927rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb .auto-group-kxau-vRK .auto-group-wfx1-Doj .vector-s7b {
  margin-right: 6.128rem;
  width: 3.4029rem;
  height: 3.4031rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-4u3j-4Vb .auto-group-kxau-vRK .auto-group-wfx1-Doj .vector-c5B {
  width: 3.0927rem;
  height: 3.0927rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-w1rd-x93 {
  width: 103.9922rem;
  height: 5.7836rem;
  position: absolute;
  left: 39.4805rem;
  top: 322.1755rem;
  display: flex;
  align-items: flex-start;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-w1rd-x93 .graphic-designing-5jT {
  margin-right: 21.6961rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-w1rd-x93 .ui-ux-czH {
  margin-right: 21.6961rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-w1rd-x93 .social-media-NTf {
  margin-top: 0.9836rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .rectangle-11-uiV {
  width: 29.6rem;
  height: 0.8714rem;
  position: absolute;
  left: 39.4805rem;
  top: 329.2045rem;
  background-color: #ffa488;
  border-radius: 0.2rem 0.2rem 0 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .line-1-zV3 {
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 23.0374rem;
  top: 16.9543rem;
  background-color: #ffffff;
}
.reference-image-R9P .auto-group-jtfb-hMo .rectangle-20-gcm {
  width: 5.269rem;
  height: 0.454rem;
  position: absolute;
  left: 108.6441rem;
  top: 10.687rem;
  background-color: #ffffff;
  border-radius: 0.2827rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .rectangle-29-PGH {
  width: 24.073rem;
  height: 0.5276rem;
  position: absolute;
  left: 84.0401rem;
  top: 446.7296rem;
  background-color: #ffa488;
  border-radius: 0.2638rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .rectangle-31-iJZ {
  width: 24.073rem;
  height: 0.5276rem;
  position: absolute;
  left: 83.8869rem;
  top: 312.9542rem;
  background-color: #ffa488;
  border-radius: 0.2638rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .rectangle-32-2KF {
  width: 24.073rem;
  height: 0.5276rem;
  position: absolute;
  left: 83.8103rem;
  top: 227.9448rem;
  background-color: #ffa488;
  border-radius: 0.2638rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .rectangle-30-km3 {
  width: 24.073rem;
  height: 0.5276rem;
  position: absolute;
  left: 85.6609rem;
  top: 529.9605rem;
  background-color: #ffa488;
  border-radius: 0.2638rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-a4zb-gub {
  width: 152.8155rem;
  height: 32.775rem;
  position: absolute;
  left: 19.6688rem;
  top: 338.5775rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-a4zb-gub .mask-group-Ded {
  margin-right: 12.1037rem;
  width: 42.8694rem;
  height: 32.775rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-a4zb-gub .mask-group-MVw {
  margin-right: 12.1037rem;
  width: 42.8694rem;
  height: 32.775rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-a4zb-gub .mask-group-Vs3 {
  width: 42.8694rem;
  height: 32.775rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-ikkr-CmT {
  width: 152.8155rem;
  height: 32.775rem;
  position: absolute;
  left: 19.6688rem;
  top: 382.9545rem;
  display: flex;
  align-items: center;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-ikkr-CmT .auto-group-pzem-7dX {
  margin: 0rem 12.104rem 0rem 0rem;
  width: 42.8694rem;
  height: calc(100% - 0rem);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-yVw.png');
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-ikkr-CmT .auto-group-pzem-7dX .rectangle-28-r5K {
  width: 42.8694rem;
  height: 32.775rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8999999762);
  border-radius: 0.9rem;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-ikkr-CmT .auto-group-pzem-7dX .know-more-NJZ {
  width: 13.5rem;
  height: 3.6rem;
  position: absolute;
  left: 14.6847rem;
  top: 17.8276rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-ikkr-CmT .auto-group-pzem-7dX .vector-sFK {
  width: 5.0239rem;
  height: 5.0247rem;
  position: absolute;
  left: 18.2469rem;
  top: 11.8571rem;
  object-fit: contain;
  vertical-align: top;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-ikkr-CmT .mask-group-B17 {
  margin: 0rem 12.104rem 0rem 0rem;
  width: 42.8694rem;
  height: 32.775rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-jtfb-hMo .auto-group-ikkr-CmT .mask-group-JLd {
  margin-top: 0rem;
  width: 42.8694rem;
  height: 32.775rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-svw3-2nR {
  box-sizing: border-box;
  padding: 8.338rem 23.347rem 8.338rem 28.125rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #282a2d;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-svw3-2nR .created-by-person-1-JV3 {
  margin: 0rem 77.449rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-svw3-2nR .vector-QHB {
  margin: 0.182rem 8.316rem 0rem 0rem;
  width: 6.1337rem;
  height: 4.1968rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-svw3-2nR .vector-8iy {
  margin: 0.182rem 8.316rem 0rem 0rem;
  width: 4.6176rem;
  height: 4.6179rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reference-image-R9P .auto-group-svw3-2nR .vector-4Mj {
  margin-bottom: 0.239rem;
  width: 4.1968rem;
  height: 4.1968rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
